
.input__error-msg {
  width: 288px;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  padding: 0;
  margin: 3px 0;
  display: inline-block;

}

.input__label {
  display: block;
  font-family: Inter;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #2F71E5;
  position: relative;
  margin-top: 30px;
}

