
.input__error-msg {
  width: 288px;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  padding: 0;
  margin: 3px 0;
  display: inline-block;

}

.input__label {
  display: block;
  font-family: Inter;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #2F71E5;
  margin-top: 30px;
}
.input__label:first-of-type {
  margin-top: 0;
}

.search__input {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  border-radius: 100px;
  border: 1px solid #D1D2D6;
  backdrop-filter: blur(100px);
  outline:none;
}
@media screen and (min-width: 768px) {
  .search__input {
    display: inline-block;
    padding: 17px 170px 17px 24px
  }
}
@media screen and (min-width: 1440px) {
  .search__input {
    padding: 20px 180px 20px 24px
  }
}
.search__input::placeholder {
  color: #C4C4C4;
}

.auth__input {
  display: block;
  width: 288px;
  font-family: Inter;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 0;
  padding: 11px 0;
}
@media screen and (min-width: 768px) {
  .auth__input {
    width: 358px;

  }
}
