.form__title {
  width: 158px;
  font-family: Roboto;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0 0 17px 0;
}
@media screen and (min-width: 768px) {
  .form__title {
    margin-bottom: 22px;
  }
}
.form__submit {
  width: 288px;
  padding: 20px 79px;
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  margin: 39px auto 0 auto;
  border: none;
  color: #FFFFFF;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .form__submit {
    width: 358px;
  }
}
.form__submit_disabled {
  background: #E6E8EB;
  box-shadow: none;
  color: #B6BCBF;
}
.form__close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: -40px;
  right: 16px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  transition: .5s ease;
}
@media screen and (min-width: 768px) {
  .form__close {
    width: 40px;
    height: 40px;
    top: -46px;
    right: -46px;
  }
}
.form__close:hover {
  cursor: pointer;
  opacity: .6;
}
