.header {
  max-width: 1440px;
  height: 56px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  padding: 0 16px;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .header {
    height: 66px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    height: 80px;
    padding: 0 104px;
  }
}
.header__placement_saved-articles {
  box-shadow: inset 0px -1px 0px #D1D2D6;
}

.header__logo {
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    font-size: 20px;
  }
}
.header__logo_placement_saved-articles {
  color: #1A1B22;
}

