.newscard {
  position: relative;
}
.newscard__button {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (min-width: 768px) {
  .newscard__button {
    top: 8px;
    right: 8px;
  }
}
@media screen and (min-width: 1440px) {
  .newscard__button {
    top: 24px;
    right: 24px;
  }
}
.newscard__delete {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border: none;
  border-radius: 8px;
  z-index: 1;
  fill: #B6BCBF;
  cursor: pointer;
}
.newscard__delete:hover {
  fill: #1A1B22;
}
.newscard__delete:hover ~ .newscard__tooltip {
  display: block;
}

.newscard__bookmark {
  margin: auto;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border: none;
  border-radius: 8px;
  z-index: 1;
  stroke: #B6BCBF;
  fill: #FFFFFF;
  margin: 0;
  cursor: pointer;
}
.newscard__bookmark:hover {
  stroke: #1A1B22;
}
.newscard__bookmark:hover ~ .newscard__tooltip {
  display: block;
}
.newscard__bookmark_marked {
  stroke: none;
  fill: #2F71E5;
}
.newscard__tooltip {
  height: 40px;
  padding: 11px 20px;
  box-sizing: border-box;
  margin: 0 5px 0 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  border-radius: 10px;
  display: none;
  z-index: 4;
}
.newscard__keyword {
  padding: 8px 20px;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  position: absolute;
  top: 16px;
  left: 16px;
  background: #FFFFFF;
  border-radius: 10px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .newscard__keyword {
    top: 8px;
    left: 8px;
  }
}
@media screen and (min-width: 1440px) {
  .newscard__keyword {
    top: 24px;
    left: 24px;
  }
}
.newscard__pic {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  margin: 0;
  padding: 0;
  display: block;
}

.newscard__info {
  width: 100%;
  background-color: #FFFFFF;
  padding: 16px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
}
@media screen and (min-width: 768px) {
  .newscard__info {
    padding: 20px 24px 24px;
  }
}
@media screen and (min-width: 1440px) {
  .newscard__info {
    padding: 20px 24px 24px;
  }
}

.newscard__date {
  color: #B6BCBF;
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.newscard__title {
  height: 48px;
  color: #1A1B22;
  font-family: Roboto Slab, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
  margin: 10px 0 0 0;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media screen and (min-width: 768px) {
  .newscard__title {
    height: 72px;
    margin-top: 20px;
    -webkit-line-clamp: 3;
  }
}
@media screen and (min-width: 1440px) {
  .newscard__title {
    height: 60px;
    font-size: 26px;
    line-height: 30px;
    margin-top: 12px;
    -webkit-line-clamp: 2;
  }
}
.newscard__snippet {
  height: 88px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 18px 0 0 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
@media screen and (min-width: 768px) {
  .newscard__snippet {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .newscard__snippet {
    margin-top: 16px;
  }
}

.newscard__source {
  height: 20px;
  margin: 8px 0 0 0;
  padding: 0;
  font-family: Roboto Slab, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #B6BCBF;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .newscard__source {
    margin-top: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .newscard__source {
    margin-top: 18px;
  }
}


